<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
  <connectionStrings>
    <add name="DestinationCS" connectionString="data source=vwc2qcatsql01.ihsglobal.local;initial catalog=CATS_Docs;uid=CATS;password=cats!@#;Connection Lifetime=300;Connection Timeout=15;" providerName="System.Data.SqlClient" />
  </connectionStrings>
  <appSettings>
    <add key="Sourcetable" value="Royalty2"/>
    <add key="Destinationtable" value="Royalty"/>
  </appSettings>
</configuration>